<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DataFlowSensorsDBEntities" connectionString="metadata=res://*/DataBaseSensorsModel.csdl|res://*/DataBaseSensorsModel.ssdl|res://*/DataBaseSensorsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.40;initial catalog=DataFlowSensorsDB;user id=cmoyon;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DataFlowSensorsDBEntities" connectionString="metadata=res://*/DataBaseSensorsModel.csdl|res://*/DataBaseSensorsModel.ssdl|res://*/DataBaseSensorsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=SQL5013.site4now.net;Initial Catalog=DB_A48124_DataFlowSensorsDB;User Id=DB_A48124_DataFlowSensorsDB_admin;Password=ELECTRonica2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--"Data Source=SQL7002.site4now.net;Initial Catalog=DB_A45D7C_DataFlowSensorsDB;User Id=DB_A45D7C_DataFlowSensorsDB_admin;Password=MD24deseptiembre;"-->
    <!--"Data Source=SQL5013.site4now.net;Initial Catalog=DB_A48124_DataFlowSensorsDB;User Id=DB_A48124_DataFlowSensorsDB_admin;Password=ELECTRonica2020;"-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>