
@{
    ViewBag.Title = "showChartLevelWater";
    Layout = null;
}

<h4>Grafica de niveles de agua</h4>
<div class="content-charts">
    <div id="chart-container"></div>
</div>

<style type="text/css">
    .content-charts {
        position : relative;
        display : block;
        margin : 0 auto;
    }

    #chart-container {
        height : 300px;
    }
</style>
    

 